.account{
    background-color: #202c33;
    height: calc(100dvh - 60px);
    position: relative;
    top: 60px;
}
.card{
    height: 250px;
    width: 400px;
    background-color: white;
    box-shadow: 0 8px 24px rgba(0,0,0,.5);
}
.card-holder{
    font-size: 20px;
    font-weight: 500;
}
