.nav-bar{
    height: 60px;
    background-color: rgba(248,249,250, 1);
    box-shadow: 0px 1px 3px rgb(154, 153, 153);
    padding: 0 20px;
    position: fixed;
    top: 0;
    width: 100%;
}
.left-block{
    gap: 40px;
}
.nav-logo{
    font-size: 26px;
    font-weight: 600;
    color: black;
    text-decoration: none;
}
.nav-items{
    gap: 20px;
}

.nav-link{
    font-size: 18px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.463);
}
.nav-link.active{
    color: black;
}

.logout-button{
    background-color: black;
    color: white;
    padding: 5px 15px;
    border-radius: 5px;
}