
.pay{
    height: calc(100dvh - 60px);
    background-color: #202c33;
    position: relative;
    top: 60px;
}
.pay-block{
    height: 400px;
    width: 500px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 8px 24px rgba(0,0,0,.5);
}

.tsxnamount{
    height: 70px;
    width: 400px;
    font-size: 40px;
    margin-top: 40px;
    font-weight: 600;
    outline: none;
    border: none;
    border-bottom: 3px solid rgba(0, 0, 0, 0.577);
}
.tsxnamount::placeholder{
    display: flex;
    align-self: center;
    justify-self: center;
}
.pay-pay-button{
    padding: 10px 120px;
    margin: 150px auto 10px auto;
    border-radius: 25px;
    color: white;
    background-color: black;
    box-shadow: 0 8px 16px rgba(0,0,0,.5);
}