.user-item{
    background-color: rgba(56, 56, 56, 0.232);
    padding: 10px 20px;
    margin: 0 auto;
    width: 100%;
    border-radius: 10px;
}
.user-left-block{
    gap: 20px;
}
.user-item-icon{
    height: 35px;
    width: 35px;
    background-color: black;
    border-radius: 50%;
    box-shadow: 0 8px 24px rgba(0,0,0,.5);
}
.user-item-icon .span-logo{
    color: white;
    font-size: 20px;
    font-weight: 500;
}
.user-username{
    font-size: 18px;
    font-weight: 600;
}
.user-mobile{
    font-size: 14px;
}
.pay-user-button{
    color: white;
    background-color: black;
    border: none;
    outline: none;
    padding: 10px 25px;
    border-radius: 25px;
    box-shadow: 0 8px 24px rgba(0,0,0,.5);
    font-weight: 500;
}