@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Prompt:wght@100&display=swap');
body {
  margin: 0;
  height: 100dvh;
  width: 100dvw;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*{
  font-family: Poppins;
}

*::-webkit-scrollbar{
  display: none;
}

.display-flex{
  display: flex;
}
.align-center{
  align-items: center;
}
.justify-center{
  justify-content: center;
}
.justify-between{
  justify-content: space-between;
}
.cursor-pointer{
  cursor: pointer;
}
.justify-around{
  justify-content: space-around;
}
.flex-column{
  flex-direction: column;
}
.gap-1{
  gap: 1rem;
}
.gap-10{
  gap: 10px;
}
.none{
  display: none;
}

.cursor-disabled{
  cursor: not-allowed !important;
}
